---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Services from "../components/Services";
import About from "../components/About";
import Portfolio from "../components/Portfolio";
import ContactMe from "../components/ContactMe";
---

<Layout>
  <Fragment slot="head">
    <meta name="description" content="This is the homepage of my Astro website." />
    <meta name="keywords" content="Astro, Website, Demo" />
    <meta name="author" content="Mohamed Wael" />
  </Fragment>
  <main class="flex flex-col gap-20 overflow-x-hidden">
    <Hero client:load />
    <Services client:visible />
    <About client:visible />
    <Portfolio client:visible/>
    <ContactMe client:visible/>
  </main>
</Layout>
